#feature {
    font-size: 1rem;
    height: 4vh;
}

.murder {
    flex-direction: column;
    padding: 20px 0;
    width: 100%;
}

.murder:hover {
    background: #eeeeee46;
    padding: 6px;
    transition: .3s;
}

.photo {
    min-width: 30%;
    margin-left: 9vh;
}

nav ul li a{
    color: #d3d3d3f1;
    font-size: 1rem;
    font-weight: 700;
    text-transform: uppercase;
    display: block;
    text-align: center;
    padding: 1.5vh 1vw;
    margin-top: 1vh;
    transition: .3s;
}
