#feature {
    height: 100px;
}

.murder {
    flex-direction: column;
    padding: 20px 0;
    width: 100%;
}

.murder:hover {
    background: #eeeeee46;
    padding: 6px;
    transition: .3s;
}

.photo {
    min-width: 30%;
    margin-left: 9vh;
}
